@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

body {
  background: black;
  font-size: 16px;
  line-height: 24px;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #313142;
  width: 1500px;
  height: 650px;
  display: flex;
  border-radius: 15px;
  margin-top: 20px;
}

.wrapper .wrapper_left {
  width: 250px;
  background: #393952;
  padding: 0 25px;
  display: flex;
  padding-top: 70px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 10px 0px 13px 0px rgba(41, 41, 57, 0.7);
}

.wrapper .wrapper_left ul li {
  background: #313142;
  margin-bottom: 25px;
  border-radius: 3px;
  padding: 12px 25px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  width: 200px;
  letter-spacing: 2px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.wrapper .wrapper_left ul li p {
  color: #abaacd;
  position: relative;
}

.wrapper .wrapper_left ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: #5437b7;
  background: linear-gradient(
    126deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(123, 90, 231, 1) 0%,
    rgba(88, 54, 206, 1) 100%
  );
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 0.4s ease;
}

.wrapper .wrapper_left ul li.active {
  width: 250px;
}
.wrapper .wrapper_left ul li.active p {
  color: #fff;
}
.wrapper .wrapper_left ul li.active:before {
  width: 100%;
  transition: all 0.2s ease;
}

.wrapper .wrapper_left ul li:last-child {
  margin-bottom: 0;
}


















.container-card{
  width: 300px;
  height: 100px;

  background-color: white;
  border:solid;
  border-color: white;
}


.card{
  background-color: white;
  width: 300px;
  height: 450px;
  text-align: center;
  border-radius: 5px;
  margin-left: 100px;
  margin-top: 50px;

}

.card1{
  background-color: white;
  width: 300px;
  height: 450px;
  text-align: center;
  border-radius: 5px;
  margin-left: 500px;
  margin-top: -450px;

}

.card2{
   background-color: white;
  width: 300px;
  height: 450px;
  text-align: center;
  border-radius: 5px;
  margin-left: 900px;
  margin-top: -450px;

}

.card-img-top{
  width: 300px;
  height: 200px;
  border-radius: 5px;

}

.btn {
  background-color: blue;
  border: 2px solid white;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 28px;
  color: white;
  margin-top: 50px;
  display: inline-block;
  &:hover {
    background-color: white;
    color: $blue;
    border: 2px solid $blue;
  }
}

.card-text{
  text-align: center;
  padding: 10px;
}


.inner{
      overflow: hidden;

    }
    .inner img{
      transition: all 0.5s ease;
    }
    .inner:hover img{
      transform: scale(1.5);

    }











.wrapper-nav{
  margin: 18px;
}
.wrapper-nav .top_navbar{
  width: 1570px;
  height: 60px;
  display: flex;
  position: fixed;
  top: 10px;
}


.wrapper-nav .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper-nav .top_navbar .top_menu .logo{
  color: #2e4ead;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.wrapper-nav .top_navbar .top_menu ul{
  display: flex;
}

.wrapper-nav .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #2e4ead;
}

.wrapper-nav .top_navbar .top_menu ul li a:hover{
  background: #4360b5;
  color: #fff;
}

.wrapper-nav .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}






























    /**login form eke**/

.button{
  background-color: blue;
  border: 2px solid white;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 28px;
  color: white;
  margin-top: -5px;
  display: inline-block;
  &:hover {
    background-color: white;
    color: $blue;
    border: 2px solid $blue;
  }
}






.bg-modal{
  width: 1250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
 }

.modal-content{
  width: 500px;
  height: 300px;
  background-color: white;
  opacity: 1;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;

}

.signup-img{
  width: 60px;
  height: 60px;
}

input{
  width: 50%;
  display: block;
  margin: 15px auto;
}

.close{
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

















/**sign up form eke**/

.bg-modal-signup{
  width: 1250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
 }

.modal-content-signup{
  width: 700px;
  height: 500px;
  background-color: white;
  opacity: 1;
  border-radius: 4px;
  text-align: center;
  padding: 80px;
  position: relative;

}

.signup-img{
  width: 60px;
  height: 60px;
}

input{
  width: 50%;
  display: block;
  margin: 15px auto;
}

.close-signup{
  position: absolute;
  top: 0;
  right: 140px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}


.button-signup{
  background-color: blue;
  border: 2px solid white;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 28px;
  color: white;
  margin-top: -5px;
  display: inline-block;
  &:hover {
    background-color: white;
    color: $blue;
    border: 2px solid $blue;
  }
}

.registerbtn{
  background-color: blue;
  border: 2px solid white;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 28px;
  color: white;
  margin-top: 20px;
  display: inline-block;
  &:hover {
    background-color: white;
    color: $blue;
    border: 2px solid $blue;
  }
}

}
